* {
    margin: 0;
    padding: 0;
}

body {
    background: url(port.png);
    background-color: #F4F4F4;
    margin: 32px;
    font-weight: 400 !important;
    font-family: Raleway, Verdana, Geneva, Tahoma, sans-serif !important;
}

img {
    max-width: 100%;
    max-height: 100%;
    height: auto;
}

section {
    padding-top: 32px;
}

.header-fixed {
    /* background-color: white; */
    position: fixed;
}

nav {
    position: static;
    font-size: 14px;
    text-transform: uppercase;
}

p {
    font-size: 36px;
    padding: 32px 0px;
}

footer {
    padding-top: 32px;
    font-size: 12px;
}

a:-webkit-any-link {
    cursor: -moz-grab;
}

a,
a:link,
a:visited,
a:focus {
    color: #292929 !important;
}

.active>a {
    font-weight: 800;
    border-bottom-style: solid;
    border-bottom-width: 3px;
    border-bottom-color: #C8A8F8;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.nav-item>a:hover {
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

main {
    margin-top: 32px;
}

.nav-link {
    padding-top: 4px 0px;
}

.hero {
    padding-top: 32x;
}

.gradient-text {
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #C8A8F8;
    font-weight: 700;
}

.ms-6 a {
    padding: 16px;
    color: #292929;
}

.eva:hover {
    border-radius: 50%;
    background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
    -webkit-background-clip: content-box;
    background-clip: content-box;
    color: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
}

.hero img {
    padding-right: 0px;
    padding-left: 0px;
    width: 429px;
    height: 406px;
    opacity: 87%;
}

.col span {
    padding-right: 32px;
}

.footer-note {
    font-size: 10px;
    color: #868686;
}

.footer-note a {
    color: #868686;
}


/*
Media queries pra fazer ficar bonito em telas de outros tamanhos.
*/