    * {
        margin: 0;
        padding: 0;
    }
    
    @font-face {
        font-family: 'noah-regular';
        src: url('fonts/noah-regular-webfont.woff2') format('woff2'), url('fonts/noah-regular-webfont.woff') format('woff');
        font-weight: normal;
        font-style: normal;
    }
    
    @font-face {
        font-family: Bellota;
        src: url(fonts/Bellota.ttf);
    }
    
    body {
        background: url(port.png);
        background-size: cover;
        background-color: #F4F4F4;
        font-family: "noah-regular";
    }
    
    header {
        padding-top: 32px;
        height: 100px;
        display: flex;
        width: 1170px;
        margin: 0 auto;
        flex-direction: row;
        align-items: center;
    }
    
    .logo {
        flex: 1;
        width: 144px;
        height: 100px;
        left: 0px;
        top: 16px;
    }
    
    nav {
        flex: 2;
        align-content: center;
        float: right;
    }
    
    nav a {
        text-decoration: none;
        letter-spacing: 1.5px;
        text-transform: uppercase;
        font-size: 18px;
        margin: 0 10px;
        color: #292929;
    }
    
    main section {
        flex: 1;
        position: relative;
        margin: 150px 150px;
        width: auto;
        height: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
    }
    
    .note {
        padding-bottom: 16px;
        font-family: Bellota;
        font-size: 24px;
        line-height: 80%;
        text-align: center;
        color: #292929;
        width: auto;
        flex: 2;
        position: relative;
    }
    
    .text {
        font-size: 40px;
        line-height: 45px;
        letter-spacing: -0.02em;
        flex: 2;
        padding: 24px;
        text-align: left;
    }
    
    .picture {
        margin-right: 0px;
        flex: 1;
        padding: 24px;
        max-width: 400px;
        max-height: 400px;
        min-width: 108px;
        min-height: 108px;
        display: block;
        height: auto;
    }
    
    .gradient-text {
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
        -webkit-background-clip: text;
        background-clip: text;
        -webkit-text-fill-color: transparent;
        color: #C8A8F8;
        font-weight: 700;
    }
    
    .footer {
        position: fixed;
        left: 0;
        bottom: 0;
        width: 100%;
        background-color: #FDFDFD;
    }
    
    footer {
        width: 1170px;
        margin: 0 auto;
        padding: 24px 0;
        display: flex;
        flex-direction: row;
        height: auto;
        z-index: 10;
        align-items: center;
        justify-content: center;
    }
    
    .footer-note {
        font-size: 10px;
        color: #868686;
        flex: 1;
        text-align: right;
    }
    
    .footer-note a {
        color: #868686;
    }
    
    .icons-sm {
        flex: 2;
    }
    
    .eva:hover {
        border-radius: 50%;
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
        -webkit-background-clip: content-box;
        background-clip: content-box;
        color: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
    }
    
    a:-webkit-any-link {
        cursor: -moz-grab;
    }
    
    a,
    a:link,
    a:visited,
    a:focus {
        color: #292929 !important;
    }
    
    a:hover {
        background: -webkit-linear-gradient(0deg, rgba(0, 0, 0, 0.15), rgba(0, 0, 0, 0.15)), linear-gradient(93.37deg, #C8A8F8 3.71%, #66ABF4 35.38%, #C8A8F8 68.45%, #66ABF4 92.2%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
    }
    /* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 1280px) {
        main {
            margin-top: -60px;
            margin-bottom: 90px;
        }
        main section {
            margin: 0 auto;
            flex-direction: column;
            width: 100%;
            padding: 0;
            top: 70px;
            height: auto;
            min-height: max-content;
        }
        header {
            width: auto;
            height: auto;
            flex-direction: column;
            padding-top: 16px;
        }
        header nav a {
            font-size: 16px;
        }
        text {
            font-size: 32px;
            text-align: left;
            left: 35%;
            top: 60%;
            opacity: 50%;
        }
        .note {
            font-size: 24px;
            width: auto;
            margin-bottom: 150px;
        }
        footer {
            width: auto;
            height: 100%;
            position: relative;
            flex-direction: column;
            height: auto;
        }
        .footer-note {
            text-align: center;
        }
    }
    /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
    
    @media screen and (max-width: 500px) {
        header {
            flex-direction: column;
            width: auto;
            height: auto;
            padding-top: 16px;
        }
        header nav {
            line-height: 200%;
            align-items: center;
        }
        header nav a {
            font-size: 16px;
            margin-top: 0;
        }
        footer {
            flex-direction: column;
            width: auto;
            height: auto;
        }
        .footer-note {
            text-align: center;
        }
    }